<!--<div ng-view></div>-->

<div ng-view></div>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

<script type="application/javascript" src="js/core.js"></script>
<script type="application/javascript" src="js/services/operators.js"></script>
<script type="application/javascript" src="js/controllers/operatorsController.js"></script>
<script type="application/javascript" src="js/controllers/operatorController.js"></script>
